	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/03/2017 15:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}

.flaticon-menu:before { content: "\f100"; font-size: 18px; color: #fff; margin-left: 0;}
.flaticon-notifications-bell-button:before { content: "\f101"; font-size: 20px; color: #fff; margin-left: 0;}
.flaticon-search:before { content: "\f102"; font-size: 12px; margin-left: 0;}
.flaticon-delete-bin:before { content: "\f103"; font-size: 14px; margin-left: 0px;}
.flaticon-forbidden-mark:before { content: "\f104"; font-size: 9px; margin-left: 0px;}
.flaticon-left-arrow-angle:before { content: "\f105"; font-size: 14px; margin-left: 0px;}
.flaticon-left-arrow-angle_small:before { content: "\f105"; font-size: 8px; margin-left: 0px;}